<div class="pg-con-bg">
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">基本设置</li>
            <li>屏蔽IP地区</li>
            <li>会员注册页</li>
            <li>财务设置</li>
            <li>积分设置</li>
            <li>返水设置</li>
        </ul>
        <div class="layui-tab-content com-reset-label">
            <!--基本设置-->
            <div class="layui-tab-item layui-show ">
                <div class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <label class="layui-form-label w120">公司名称</label>
                        <div class="layui-input-block ml152">
                            <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label w120">新会员默认代理</label>
                        <div class="layui-input-block ml152">
                            <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label w120">暂时关闭网站</label>
                        <div class="layui-input-block ml152">
                            <input type="radio" name="" value="否" title="否" checked>
                            <input type="radio" name="" value="是" title="是">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">关闭网站原因</label>
                        <div class="layui-input-block">
                            <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block ml152">
                            <button class="layui-btn btn-color01">确认</button>
                            <button class="layui-btn layui-btn-primary">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--//基本设置-->
            <div class="layui-tab-item">内容2</div>
            <div class="layui-tab-item">内容3</div>
            <div class="layui-tab-item">内容4</div>
            <div class="layui-tab-item">内容5</div>
            <div class="layui-tab-item">内容6</div>
        </div>
    </div>
</div>